<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="icon" href="{% static "wat/favicon.ico" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static "wat/css/reset.css" %}" />
        <link rel="stylesheet" href="{% static "wat/css/styles.css" %}" />
    </head>
    <body>
        <header>
            <nav id="nav-mobile" class="navigation">
                <ul class="container"> 
                    {% for menu in menus %}
                    <li><a href="/{{menu.path}}">{{ menu.name }}</a></li> 
                    {% endfor %}
                </ul>
            </nav>
        </header>   
        <main>
            {% block content %}
            <div class="container">
                <ul>
                    <section>
                        <h2>
                            <strong><img style="width:100%;" src="{% static "wat/images/logo.jpg" %}"></img></strong>
                        </h2>
                    </section>
                    <section>
                        <p>이 데모 웹사이트는 Attention Network을 이용한 한국어 감정 분석에 대한 내용을 담고 있습니다.</p>
                    </section>
                    <section>
                        <div class="introduction-wrapper">
                        <ul class="level0">
                            <li>
                                <h5 class="sub-title">1. 데이터 소스</h5>
                                <ul class="collection level1">
                                    <li class="collection-item">
                                        <span class="content-key">Wikipedia DUMP</span>
                                        <span class="content-value">총 4481만여개의 단어를 이용한 학습</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">네이버 영화평</span>
                                        <span class="content-value">총 160여만개의 단어를 이용한 테스트</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">Word Analogy Reasoning sets</span>
                                        <span class="content-value"><a href="http://download.tensorflow.org/data/questions-words.txt">Question words</a>을 번역 + 데이터 추가</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5 class="sub-title">2. 데이터 전처리</h5>
                                <ul class="collection level1">
                                    <li class="collection-item">
                                        <span class="content-key">Data Parsing</span>
                                        <span class="content-value">필요 없는 태그 제거 및 컨텐츠 파싱</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">Pos Tagging</span>
                                        <span class="content-value">Konlpy Twitter를 이용한 품사 태깅</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">Lemmatization</span>
                                        <span class="content-value">태깅 데이터에 기반</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">Word Embedding</span>
                                        <span class="content-value">Word2Vec model을 이용한 word representation vector생성</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">Padding</span>
                                        <span class="content-value">embedded vector를 모델에 맞는 데이터의 Shape을 맞춰주는 과정</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5 class="sub-title">3. 모델 수립</h5>
                                <ul class="collection level1">
                                    <li class="collection-item">
                                        <span class="content-key">SVM</span>
                                        <span class="content-value">Support Vector Machine을 이용한 baseline experiment</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">CNN</span>
                                        <span class="content-value">CNN을 이용한 baseline experiment</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">RNN</span>
                                        <span class="content-value">RNN을 이용한 baseline experiment</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">Attention Network Convolutional layer added</span>
                                        <span class="content-value">Attention이 적용된 RNN</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5 class="sub-title">4. 모델 검증</h5>
                                <ul class="collection level1">
                                    <li class="collection-item">
                                        <span class="content-key">Word2Vec</span>
                                        <span class="content-value">Word Analogy Reasoning Set을 이용한 검증</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">CNN</span>
                                        <span class="content-value">Testset - Naver 영화평</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">RNN</span>
                                        <span class="content-value">Testset - Naver 영화평</span>
                                    </li>
                                    <li class="collection-item">
                                        <span class="content-key">Attention Network Convolutional layer added</span>
                                        <span class="content-value">Testset - Naver 영화평</span>
                                    </li>
                                </ul> 
                            </li>    
                        </ul>
                        </div>
                    </section>
                </ul>
            </div>
            {% endblock content %}
        </main>
        {% comment %} <footer class="page-footer">
            
        </footer> {% endcomment %}
    </body>
    {% block TopLevelHTMLBlocks %}
    {% endblock TopLevelHTMLBlocks %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    {% block pagescript %}

    {% endblock pagescript %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</html>
