<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{{ title }}</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <link rel="stylesheet" href="{% static "wat/css/reset.css" %}" />
        <link rel="stylesheet" href="{% static "wat/css/styles.css" %}" />
    </head>
    <body>
        <header>
            <nav id="nav-mobile" class="navigation">
                <ul> 
                    {% for menu in menus %}
                    <li><a href="/{{menu.path}}">{{ menu.name }}</a></li> 
                    {% endfor %}
                </ul>
            </nav>
        </header>   
        <main>
            {% block content %}
            <div class="container">
                <h2>Word Analogy Reasoning Tasks</h2>
                <p>
                    Word Analogy Reasoning Tasks는 Word Embedding의 결과를 검증하기 위해 사용되는 일련의 벡터의 집합입니다. 
                    이는 Word Embedding의 결과물이 다차원 공간상의 벡터이기에 이 벡터들 간에 어떤 관계가 있을 것이다라는 전제를 함의하고 있습니다.
                    예를 들어, 한국의 수도는 서울, 일본의 수도는 도쿄입니다. 그렇다면, `한국`과 `서울`의 관계는 아마도 `일본`과 `도쿄`의
                    관계가 성립할 것이라는 가정입니다. 
                </p>
                <p>
                    이 페이지는 Word Analogy Reasoning Tasks에 사용되던 관습적인 단어들([이 페이지])을 한국어로 번역하거나,
                    추가하는 작업을 다 같이 해보고자 하는 마음에서 만들었습니다. 
                </p>
            </div>
            {% endblock content %}
        </main>
        {% comment %} <footer class="page-footer">
            
        </footer> {% endcomment %}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    {% block pagescript %}

    {% endblock pagescript %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</html>
